body {
  background: #0e4364;
}
h1 {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
}
table {
  margin: auto;
  border: 5px solid black;
  border-spacing: 5px;
}
table td {
  width: 85px;
  height: 55px;
  background: #f5f5f5f5;
  text-align: center;
  border: 2px solid black;
  font-size: 50px;
}
.siyah1 {
  background: rgb(73, 69, 69);
  color: black;
}
.beyaz {
  background: white;
  color: white;
}
.siyah {
  background: rgb(73, 69, 69);
}
.beyaz1 {
  background: white;
  color: black;
}
